<form action="/send" method="POST">
  <div class="row align-items-start fixed-bottom" style="margin: 5px;">
    <div class="col-11">
      <input type="text" class="form-control" placeholder="Message" name="message">
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </div>
</form>