<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/img/logo.jpg" alt="Logo" height="24" style="border-radius: 150px;" class="d-inline-block align-text-top">
            ChatApp
        </a>
      </div>
    </div>
  </nav>