<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/img/logo.jpg" alt="Logo" height="24" style="border-radius: 150px;" class="d-inline-block align-text-top">
      ChatApp
    </a>
    <% if (user.username) { %>
      <span class="navbar-text">
        Welcome, <%= user.username %>
      </span>
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="btn btn-outline-primary" href="/settings">Settings</a>
        </li>
      </ul>
    <% } else { %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/signup" class="nav-link active">Sign up</a>
        </li>
      </ul>
    <% } %>
    </div>
  </div>
</nav>